body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
}

#body-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 1em 6em 1em 5em;
}

.header .logo {   
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.header-wrapper {
    background-color: #1f2937;
    padding: 80px 80px 80px 80px;
    text-align: left;
    color: white;
    display: flex;
}

.main-image img{
    height: 200px;
    width: 400px;
    padding-left: 60px;
}

.main-text h1 {
    color: white;
    font-size: 48px;
    font-weight: 900;

}

.main-body-content {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    padding: 50px;
}

.main-body-title {
    font-size: 36px;
    color:#1f2937;
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
}

.main-body-content img {
    border: 8px solid #3882f6;
    border-radius: 8px;   
}

.main-body-content img:hover {
    border: 8px solid #1f2937;
    border-radius: 8px; 
}

.quote-body {
    background-color: #e5e7eb;
    padding: 40px 140px 40px 280px;
}

.quote-body p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.sign-up-box {
    background-color: white;
    padding-left: 40px;
    color: #1f2937;
    padding: 40px 0px 60px 5em;
}

#p1 {
    font-size: 22px;
    text-align: right;
}

.footer {
    background-color: #1f2937;
    padding: 1em;
    color: white;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;    
}

a:hover {
    color: #1f2937
}

button {
    background-color: #3882f6;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
    padding: 5px 22px 6px 22px;
    
}

button:hover {
    background-color: #1f2937;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 16px; 
    padding: 5px 22px 6px 22px;
    margin: -1px;



}